ksp-covid-reporting-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ksp-covid-reporting-adf"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/covid-reporting-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check if the file exists",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "covidDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.12:00:00",
							"sleep": 10
						}
					},
					{
						"name": "Get the File Metadata",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Check if the file exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "covidDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/covidDataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/covidDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "owid-covid-data.csv",
						"container": "covid-data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "iso_code",
						"type": "String"
					},
					{
						"name": "continent",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "total_cases",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "new_cases_smoothed",
						"type": "String"
					},
					{
						"name": "total_deaths",
						"type": "String"
					},
					{
						"name": "new_deaths",
						"type": "String"
					},
					{
						"name": "new_deaths_smoothed",
						"type": "String"
					},
					{
						"name": "total_cases_per_million",
						"type": "String"
					},
					{
						"name": "new_cases_per_million",
						"type": "String"
					},
					{
						"name": "new_cases_smoothed_per_million",
						"type": "String"
					},
					{
						"name": "total_deaths_per_million",
						"type": "String"
					},
					{
						"name": "new_deaths_per_million",
						"type": "String"
					},
					{
						"name": "new_deaths_smoothed_per_million",
						"type": "String"
					},
					{
						"name": "reproduction_rate",
						"type": "String"
					},
					{
						"name": "icu_patients",
						"type": "String"
					},
					{
						"name": "icu_patients_per_million",
						"type": "String"
					},
					{
						"name": "hosp_patients",
						"type": "String"
					},
					{
						"name": "hosp_patients_per_million",
						"type": "String"
					},
					{
						"name": "weekly_icu_admissions",
						"type": "String"
					},
					{
						"name": "weekly_icu_admissions_per_million",
						"type": "String"
					},
					{
						"name": "weekly_hosp_admissions",
						"type": "String"
					},
					{
						"name": "weekly_hosp_admissions_per_million",
						"type": "String"
					},
					{
						"name": "total_tests",
						"type": "String"
					},
					{
						"name": "new_tests",
						"type": "String"
					},
					{
						"name": "total_tests_per_thousand",
						"type": "String"
					},
					{
						"name": "new_tests_per_thousand",
						"type": "String"
					},
					{
						"name": "new_tests_smoothed",
						"type": "String"
					},
					{
						"name": "new_tests_smoothed_per_thousand",
						"type": "String"
					},
					{
						"name": "positive_rate",
						"type": "String"
					},
					{
						"name": "tests_per_case",
						"type": "String"
					},
					{
						"name": "tests_units",
						"type": "String"
					},
					{
						"name": "total_vaccinations",
						"type": "String"
					},
					{
						"name": "people_vaccinated",
						"type": "String"
					},
					{
						"name": "people_fully_vaccinated",
						"type": "String"
					},
					{
						"name": "total_boosters",
						"type": "String"
					},
					{
						"name": "new_vaccinations",
						"type": "String"
					},
					{
						"name": "new_vaccinations_smoothed",
						"type": "String"
					},
					{
						"name": "total_vaccinations_per_hundred",
						"type": "String"
					},
					{
						"name": "people_vaccinated_per_hundred",
						"type": "String"
					},
					{
						"name": "people_fully_vaccinated_per_hundred",
						"type": "String"
					},
					{
						"name": "total_boosters_per_hundred",
						"type": "String"
					},
					{
						"name": "new_vaccinations_smoothed_per_million",
						"type": "String"
					},
					{
						"name": "new_people_vaccinated_smoothed",
						"type": "String"
					},
					{
						"name": "new_people_vaccinated_smoothed_per_hundred",
						"type": "String"
					},
					{
						"name": "stringency_index",
						"type": "String"
					},
					{
						"name": "population_density",
						"type": "String"
					},
					{
						"name": "median_age",
						"type": "String"
					},
					{
						"name": "aged_65_older",
						"type": "String"
					},
					{
						"name": "aged_70_older",
						"type": "String"
					},
					{
						"name": "gdp_per_capita",
						"type": "String"
					},
					{
						"name": "extreme_poverty",
						"type": "String"
					},
					{
						"name": "cardiovasc_death_rate",
						"type": "String"
					},
					{
						"name": "diabetes_prevalence",
						"type": "String"
					},
					{
						"name": "female_smokers",
						"type": "String"
					},
					{
						"name": "male_smokers",
						"type": "String"
					},
					{
						"name": "handwashing_facilities",
						"type": "String"
					},
					{
						"name": "hospital_beds_per_thousand",
						"type": "String"
					},
					{
						"name": "life_expectancy",
						"type": "String"
					},
					{
						"name": "human_development_index",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "excess_mortality_cumulative_absolute",
						"type": "String"
					},
					{
						"name": "excess_mortality_cumulative",
						"type": "String"
					},
					{
						"name": "excess_mortality",
						"type": "String"
					},
					{
						"name": "excess_mortality_cumulative_per_million",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}